@import '../defaultVariable.scss';

.sub_title_change_password {
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: $web-16;

  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-16;
  }
}

.title {
  font-weight: 700;
  font-size: $web-36;
  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-32;
  }
}

.font_change_password {
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.bottomLogin {
  text-align: center;
  margin-top: 56px;
}

.forgot_password {
  font-weight: 400;
  font-size: $web-14;
  text-decoration-line: underline;
  color: #ffff;
  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-14;
  }
}

.button_confirm {
  background-color: #0e7ee4;
  height: 53px;
  font-weight: 700;

  border: none;
  color: #ffff;
}
.no_account {
  font-weight: 400;
  font-size: $web-14;
  color: #bdc5cb;
  margin-right: 5px;
  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-14;
  }
}
