@import '../defaultVariable.scss';

.sub_title_recover_your_account {
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: $web-16;

  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-16;
  }
}

.title {
  font-weight: 700;
  font-size: $web-36;
  @media (max-width: #{$mobile-width}) {
    font-size: $mbw-32;
  }
}

.font_recover_your_account {
  width: $web-343;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  @media (max-width: #{$mobile-width}) {
    width: 100%;
    padding: 0 $mbw-16;
  }
  .input_otp {
    align-items: center;
    gap: 8px;
    .button_resend_otp {
      background-color: #888f95;
      height: 53px;
      border: none;
      font-weight: 700;
      width: 120px;
      color: #ffff;
    }
  }

  .button_confirm {
    background-color: #888f95;
    height: 53px;
    font-weight: 700;

    border: none;
    color: #ffff;
  }
  .bottomLogin {
    text-align: center;
    margin-top: 100px;
  }

  .forgot_password {
    font-weight: 400;
    font-size: $web-14;
    text-decoration-line: underline;
    color: #ffff;
    @media (max-width: #{$mobile-width}) {
      font-size: $mbw-14;
    }
  }

  .no_account {
    font-weight: 400;
    font-size: $web-14;
    color: #bdc5cb;
    margin-right: 5px;
    @media (max-width: #{$mobile-width}) {
      font-size: $mbw-14;
    }
  }
}
