@import '../defaultVariable.scss';

.font_membership {
  width: $web-343;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $web-72;
  [ant-click-animating-without-extra-node='true']::after {
    display: none;
  }
  .title {
    font-weight: 700;
    font-size: $web-36;
    white-space: nowrap;
  }
  .subtit_login {
    font-weight: 400;
    font-size: $web-16;
    margin-top: $web-4;
    margin-bottom: $web-16;
    text-align: center;
  }
  .list_font {
    display: flex;
    flex-direction: column;
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
    }
    .font_horizontal {
      margin-left: -$web-4;
      margin-right: -$web-4;
      display: flex;
      flex-flow: row wrap;
      .ant-col {
        padding: 0 $web-4;
      }
    }
  }
  .btn-submit-24 {
    margin-top: $web-24;
  }
  .btn-submit-28 {
    margin-top: $web-28;
  }
  .login_method {
    margin-top: $web-32;
    :last-child {
      margin-left: $web-20;
    }
  }
  .bottomLogin {
    text-align: center;
    margin-top: $web-56;
    .bottomSignUp {
      display: flex;
      justify-content: center;
      margin-top: $web-16;
    }
    .forgot_password {
      font-weight: 400;
      font-size: $web-14;
      text-decoration-line: underline;
      color: #ffff;
    }
    .no_account {
      font-weight: 400;
      font-size: $web-14;
      color: #bdc5cb;
      margin-right: $web-5;
    }
  }
  .loginGG {
    background-image: url(../../icons/google.svg) !important;
  }

  .loginKaKao {
    background-image: url(../../icons/kakao.svg) !important;
  }

  .loginEmail {
    background-image: url(../../icons/email.svg) !important;
  }
  .icon {
    min-width: $web-52 !important;
    border-radius: 50% !important;
    width: $web-52 !important;
    height: $web-52;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: $web-52 $web-52;
    display: inline-block;
    visibility: visible !important;
  }
}

@media (max-width: #{$mobile-width}) {
  .font_membership {
    width: 100%;
    align-items: baseline;
    flex-grow: 1;
    margin-top: $mbw-62;
    justify-content: flex-start;
    padding: 0 $mbw-16;
    &.only_font {
      padding-bottom: $mbw-16;
    }
    .title {
      font-size: $mbw-32;
      white-space: unset;
    }
    .subtit_login {
      font-size: $mbw-16;
      margin-block: $mbw-12;
      text-align: left;
    }
    .list_font {
      .font_horizontal {
        margin-left: -$mbw-4;
        margin-right: -$mbw-4;
        display: flex;
        flex-flow: row wrap;
        .ant-col {
          padding: 0 $mbw-4;
        }
      }
    }
    .btn-submit-24 {
      margin-top: $mbw-24;
    }
    .login_method {
      display: none;
    }
    .bottomLogin {
      text-align: center;
      margin-top: auto !important;
      margin-inline: auto;
      padding-top: $mbw-32;
      margin-bottom: $mbw-68;
      .bottomSignUp {
        margin-top: $mbw-16;
      }
      .forgot_password {
        font-size: $mbw-14;
      }
      .no_account {
        font-size: $mbw-14;
        margin-right: $mbw-5;
      }
    }
  }
}
